<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.samihann.projectthree_a2_sam">

<!--    By Samihan Nandedkar   -->
<!--    UIN: 667142409         -->
<!--    CS 478 Spring-22       -->
<!--    Project Three - A2 Application   -->

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="com.samihann.projectthree" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.ProjectThree_A2Sam">
        <activity
            android:name=".LandmarkActivity"
            android:exported="false" />
        <activity
            android:name=".RestaurantActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>